/*----------------------------------
theme
----------------------------------*/

/* set background colours */

body {
	background-color: rgba(219, 219, 219, 0.5);
}

.masthead, .header, #inner-content, #inner-footer {
	background-color: #fff;
}

/* spacing of body content */

#content #inner-content {
	padding: 3rem 0;
}

	.home #inner-content {
		padding-bottom: 0;
	}

	.home #news-section {
		padding-bottom: 3rem;
	}

/* sticky footer */

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-wrapper, footer {
    flex-shrink: 0;
}

#content {
    flex: 1 0 auto;
    background-color: #fff;
    max-width: 75rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* typography */

h1, h2, h3, p, li, form, blockquote, a {
	font-family: 'Lato', sans-serif !important;
	color: #00022e;
}

h1, h2 {
	font-weight: 700;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 17px;
}

.firmnews h2 {
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 14px;
	font-weight: 700;
}

p, #main li, #firm-news li, #secondary p, #secondary li {
	font-size: 17px;
	text-align: justify;
}

.introduction, .introduction p {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: #b7a99a;
	font-style: italic;
	margin: 0 0 2rem;
}

a {
	color: #333;
}

a:hover, a:focus {
	color: #a6927d;
}

	.entry-content p a, .lawyers p a, .entry-content li a, #secondary-para p a, #firm-news li a {
		color: #a6927d;
		text-decoration: underline;
	}

	.entry-content a:hover, .entry-content a:focus, .lawyers a:hover, .lawyers a:focus {
		color: #333;
	}

p a {
	text-decoration: underline;
}

#address p {
	font-size: 14px;
}

#inner-footer p, #inner-footer p a {
	color: #fff;
	font-size: 13px;
}

#address p a, #inner-footer p, #inner-footer p a {
	text-decoration: none;
}

.display-posts-listing {
	margin-left: 0;
}

.listing-item {
	list-style: none;
	margin-bottom: 1.5rem;
}

/* all menus */

.menu .active > a, .menu a:hover, .menu a:focus, #menu-main-menu-1 a {
	color: #fff;
}

.submenu li {
	font-size: 14px;
	text-transform: none;
}

.submenu a {
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	line-height: 1.4 !important;
}

.submenu li:first-of-type a {
	border-top: none;
}

.dropdown.menu.medium-horizontal > li.opens-right > .is-dropdown-submenu {
	top: 102%;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent a::after {
	display: none;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
	padding-right: 0.7rem;
}

/* small, medium + navs */

#top-bar-menu {
	background-color: #b7a99a;
}

#menu-main-menu, #menu-main-menu-1 {
	text-transform: uppercase;
	font-weight: 700;
}

#menu-main-menu a, #menu-main-menu-1 a, #top-bar-menu a {
	color: #fff;
}

#menu-main-menu a {
	border-bottom: 1px solid #e1e1e1;
}

#menu-main-menu-1 a:hover,
#menu-main-menu-1 a:focus,
#menu-main-menu-1 .active > a {
	text-decoration: none;
	background-color: #435363;
}

#menu-main-menu a:hover, #top-bar-menu .submenu a:hover,
#menu-main-menu a:focus, #top-bar-menu .submenu a:focus,
#menu-main-menu .active > a,
#menu-main-menu-1 .submenu a:hover, #top-bar-menu .submenu a:hover,
#menu-main-menu-1 .submenu a:focus, #top-bar-menu .submenu a:focus,
#menu-main-menu-1 .submenu .active > a {
	background-color: #435363;
	text-decoration: none;
}

/* small nav */

.menu-icon::after {
  background: #fff;
  box-shadow: 0 7px 0 #fff,0 14px 0 #fff;
}

.menu-icon:hover::after {
	background: #425563;
	-moz-box-shadow: 0 7px 0 #425563, 0 14px 0 #425563;
	-webkit-box-shadow: 0 7px 0 #425563, 0 14px 0 #425563;
	        box-shadow: 0 7px 0 #425563, 0 14px 0 #425563;
}

.top-bar, .top-bar ul {
	background-color: #b7a99a;
}

.off-canvas {
	background-color: #b7a99a;
}

.menu.vertical > li.active {
	background: none !important;
}

.is-accordion-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

.off-canvas .submenu a {
	border-left: none;
	border-right: none;
}

/* drop down menu items */

.is-dropdown-submenu {
	border: none;
}

.is-dropdown-submenu .is-dropdown-submenu {
	margin-top: 0;
}

/* submenu */

#submenu {
	margin-bottom: 1rem;
}

#submenu .menu li {
	display: block;
	color: #425563;
	font-weight: 700;
	font-size: 14px;
}

#submenu .menu li a {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#submenu .menu li.active a, #submenu .menu li a:hover, #submenu .menu li a:focus {
	background-color: #435363;
	opacity: 1;
}

/* header wrapper */

.header-wrapper {
	background: none;
}

/* masthead */

.masthead {
	padding-top: 0.5rem;

	text-align: center;
}

.logo {
	width: 250px;
	max-width: 250px;
	margin-bottom: 0.5rem;
}

/* header */

.header {
	background-color: #b7a99a;
}

#home-header header {
	background-color: #fff;
}

/* footer */

.footer {
	margin-top: 0;
}

#inner-footer {
	background-color: #b7a99a;
	color: #fff;
	padding: 1rem 0 0 !important;
}

#inner-footer img {
	width: 24px;
}

#inner-footer > div {
	display: block !important;
}

#inner-footer > div > div {
	text-align: left !important;
	display: block !important;
}

#SRAbadge {
	float: left !important;
}

#SRAbadge > div {
	width: 100px !important;
	float: left;
	margin: 0 !important;
}

/* misc */

hr {
	margin: 2rem 0;
	border-bottom: 1px solid #e1e1e1;
}


/*----------------------------------
templates
----------------------------------*/

/* home */

#home-header header {
	padding-left: 0;
	padding-right: 0;
}

.home #content #inner-content {
	padding-bottom: 0;
}

.home .entry-content p {
	font-size: 17px;
	text-align: justify;
}

.home #firm-news ul {
	margin-left: 0;
}

.home #firm-news li {
	margin-bottom: 0.5rem;
	list-style: inherit;
	list-style: none;
}

#news .widget ul {
	margin-left: 1.25rem;
}

#news .widget ul li {
	list-style: disc;
	margin-bottom: 0.5rem;
}

#pil h3 {
	font-size: 14px;
}

#brexit-insights .content p:first-of-type {
	font-weight: bold;
}

#accreditations {
	margin-bottom: 3rem;
}

/* lawyers (page template) */

.principal a:hover, .principal a:focus, .lawyer a:hover, .lawyer a:focus {
	opacity: 0.75;
	-moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.photo {
	border: 1px solid #cacaca;
	margin-bottom: 1rem;
}

.page-template .lawyer {
	margin-bottom: 1rem;
	padding-left: 0;
}

.lawyers .contact-lawyer {
	list-style: none;
	margin-left: 0;
}

.lawyers .contact-lawyer li {
	font-size: 13px !important;
}


/* lawyers (custom post template) */

.single-lawyers .photo {
	margin-bottom: 1rem;
}

.single-lawyers .contact-lawyer {
	list-style: none;
	margin-left: 0;
}

/* posts */

.entry-content img {
	margin-bottom: 1rem;
}

/* internships */

#internships-header header {
	background-size: cover;
	background-position: center center;
	padding-left: 0;
	padding-right: 0;
}

#internships-header header > div {
	margin-left: 0;
	margin-right: 0;
}

.internships .intro {
	background-color: rgba(66, 85, 99, .75);
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.internships .intro h1 {
	color: #b7a99a;
}

.internships .intro p, .internships .intro a {
	color: #fff;
}

.internships #inner-content {
	padding: 1rem !important;
}

/* pil */

.pil .attachment-post-thumbnail {
	margin-bottom: 1rem;
}

.pil-intro {
	margin-bottom: 40px;
}

/* practice */

.practice .entry-content ul {
	margin-bottom: 0;
}

.practice #main > div {
	padding-left: 0;
}

/* about */

.about .entry-content ul {
	margin-bottom: 0;
}

/* contact */

.contact-type {
	width: 50px;
	display: inline-block;
}

.page-template-template-contact #inner-content {
	background-color: #425563;
}

.page-template-template-contact #inner-content h1 {
	color: #b7a99a !important;
}

.page-template-template-contact #inner-content p, .page-template-template-contact #inner-content  a {
	color: #fff !important;
}

/* firm news */

.forthcoming {
	background-color: #435363;
	padding-top: 3rem;
	margin-bottom: 1.5rem;
}

.forthcoming h2, .forthcoming a {
	color: #a6927d;
}

.forthcoming p {
	color: #fff;
}

/* recognition */

.page-template-template-recognition .entry-content ul {
	margin-left: 0;
	list-style: none;
}

.page-template-template-recognition .entry-content li {
	margin-bottom: 0.5rem;
}

/*----------------------------------
plugins
----------------------------------*/

/* Meta Slider */

.metaslider .caption-wrap {
	position: relative !important;
	background-color: #435363 !important;
	opacity: 1 !important;
}

.flex-control-nav {
	bottom: -40px !important;
}

.metaslider .caption {
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	font-style: italic;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.metaslider .gold {
	color: #b7a99a;
}

.metaslider .citation {
	font-size: 15px;
	font-style: normal;
}

/* Carousels */

.slick-list {
	z-index: 0;
}

.slick-prev, .slick-next {
	z-index: 1;
	top: 30% !important;
}

	#carousel-67 .slick-prev, #carousel-67 .slick-next {
		top: 10% !important;
	}

.slick-prev {
	left: -10px !important;
}

.slick-next {
	right: -10px !important;
}

.slick-prev::before {
	content: "\f0d9" !important;
	font-size: 25px !important;
	opacity: 1 !important;
}

.slick-next::before {
	content: "\f0da" !important;
	font-size: 25px !important;
	opacity: 1 !important;
}

.post-style-1 .wcp-img-wrap, .post-style-1 .wcp-content-wrap {
	width: 100% !important;
	text-align: center;
}

.slick-slider h3 {
	margin: 10px 0 0 !important;
}

.car-caption {
	text-align: left !important;
}

.car-caption br {
	display: none;
}

.car-caption a {
	margin: 0 !important;
}

.mega-post-carousel1 .mega-post-image, .mega-post-carousel1 .mega-post-image img {
	height: auto !important;
}

.mega-post-carousel1 .mega-comment-box {
	display: none !important;
}

/* Display Posts Shortcode */

.display-posts-listing .listing-item .title {
	display: none;
}

/* CPTA Pagination */

.list-cptapagination {
	text-align: left;
	margin-left: 0;
}

ul.list-cptapagination li {
	margin: 0 10px 0 0;
}

ul.list-cptapagination li a {
	background-color: #b7a99a;
	color: #fff;
}

ul.list-cptapagination li a.active {
	background-color: #435363 !important;
}

/* super carousel */

.supercarousel_wrapper {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.supercarousel490 .supercarousel > div {
	padding: 5px;
}

.supercrsl a.superprev {
  left: -15px !important;
}

.supercrsl a.supernext {
  right: -15px !important;
}

.supercarousel490 .supercarousel > div .superelement1 {
	font-size: 17px;
	text-align: justify;
}

/*----------------------------------
------------------------------------
640 Pixels + MEDIA QUERY
------------------------------------
----------------------------------*/

@media screen and (min-width: 40em) {


/*----------------------------------
theme
----------------------------------*/

/* fixed header */

.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#content {
	margin-top: 230px;
	z-index: 0;
}

.footer {
	z-index: 3;
}

/* medium + nav */

.top-bar, .top-bar ul {
	background-color: #b7a99a;
}

.top-bar .top-bar-right {
	width: 100%;
}

header .menu {
	margin: 0 auto;
	text-align: left;
}

header .menu.medium-horizontal > li {
	display: inline-block;
}

/* masthead */

.masthead {
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	text-align: left;
}

	#address {
		float: right;
		margin-top: 1rem;
	}

.logo {
	width: 500px;
	max-width: 500px;
	margin-bottom: 0;
}

/* footer */

#SRAbadge {
	float: right !important;
}

#SRAbadge > div {
	float: right;
}

/*----------------------------------
templates
----------------------------------*/

/* home */

.home .entry-content {
	column-count: 2;
	column-gap: 40px;
}


/* posts */

.entry-content img {
	float: left;
	margin-right: 1rem;
	/*margin-bottom: 0;*/
}

/* internships */

#internships-header header {
	background-size: 50% auto;
	background-position: left 45%;
}

.internships .intro {
	background-color: #425563;
}

/* lawyers */

.page-template .lawyer:last-of-type {
	float: left !important;
}

/* contact */

.contact .entry-content p {
	font-size: 17px;
}

/* recognition */

.page-template-template-recognition .entry-content li {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.page-template-template-recognition .entry-content ul {
	column-count: 2;
	column-gap: 40px;
}

.page-template-template-recognition .entry-content img {
	float: none;
	margin-right: 0;
}


/* firm news */

.page-template-template-firmnews .entry-content li {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

/*----------------------------------
plugins
----------------------------------*/

/* Meta Slider */

.metaslider .caption-wrap {
	position: absolute !important;
	background: none !important;
	width: 90% !important;
	left: 50% !important;
	bottom: 20% !important;
	transform: translate(-50%);
	padding-top: 10px;
	padding-bottom: 10px;
}

.metaslider .caption {
	font-size: 26px !important;
	padding: 10px !important;
	line-height: 1 !important;
}

.metaslider .quote {
	font-size: 40px;
}

.flex-control-nav {
	font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}


/* Carousels */

.slick-prev, .slick-next {
	top: 20% !important;
}

.slick-prev {
	left: -10px !important;
}

.slick-next {
	right: -10px !important;
}

.slick-slide img {
	margin-bottom: 1rem !important;
}

/* Content Blocks */

.content_block {
	float: left;
	width: 50%;
}

.content_block {
	padding-right: 1.875rem;
}

}


/*----------------------------------
------------------------------------
1024 Pixels + MEDIA QUERY
----------------------------------
----------------------------------*/

@media screen and (min-width: 64em) {

/*----------------------------------
theme
----------------------------------*/

/* typography */

#address p {
	font-size: 16px;
}

/* large + nav */

#top-bar-menu > div > .menu {
	display: flex;
	justify-content: space-around;
}

.menu > li > a {
	padding: 0.7rem;
}

/* large + nav */

.top-bar {
	padding: 0;
	max-width: 60rem;
	margin: 0 auto;
}

header .menu.medium-horizontal > li {
	font-size: 1.125rem;
}

/* masthead */

#top-bar-menu {
	padding-bottom: 0;
}

/* content-wrapper */

#content-wrapper {
	max-width: 60rem;
	margin: 0 auto;
}

/*----------------------------------
templates
----------------------------------*/


/* about, practice & lawyers */

.about nav.large-offset-1, .practice nav.large-offset-1, .lawyers nav.large-offset-1, .lawyer nav.large-offset-1, .menu nav.large-offset-1 {
	margin-left: 4%;
}

/* internships */

.internships .intro {
	padding-right: 8.33333%;
}

/* recognition */

.page-template-template-recognition .entry-content ul {
	column-count: 2
}


/*----------------------------------
plugins
----------------------------------*/

/* Meta Slider */

.metaslider .caption-wrap {
	bottom: 20% !important;
	width: 70% !important;
}

.metaslider .caption {
	font-size: 36px !important;
	line-height: 1.2 !important;
}

}
