<div id="supsystic-slider-1" class="supsystic-slider supsystic-slider-bx" data-settings="{&quot;general&quot;:{&quot;mode&quot;:&quot;horizontal&quot;,&quot;speed&quot;:500,&quot;slideMargin&quot;:0,&quot;captions&quot;:&quot;true&quot;,&quot;easing&quot;:&quot;linear&quot;,&quot;navigation&quot;:0},&quot;touch&quot;:{&quot;enabled&quot;:&quot;true&quot;,&quot;oneToOne&quot;:&quot;true&quot;,&quot;swipeThreshold&quot;:55},&quot;pager&quot;:{&quot;pagerEnabled&quot;:&quot;true&quot;,&quot;type&quot;:&quot;full&quot;},&quot;properties&quot;:{&quot;width&quot;:&quot;471&quot;,&quot;height&quot;:240}}" data-thumbs="thumbnails-1" style="visibility:hidden;">
        <ul style="visibility: hidden; margin: 0 !important; ">
            </ul>
</div>


<ul class="thumbnails-1 thumbs" style="visibility: hidden; margin: 0 !important;">
    </ul>

