/*
Theme Name: Vantage Child
Author: Joel Kriteman
Author URI: https://siteorigin.com
Theme URI: https://siteorigin.com/theme/vantage
Description: Vantage Child Theme
Version: 1.0.0
Template: vantage
Text Domain: vantage-child
*/

/* =Theme customization starts here
————————————————————– */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'Cairo', sans-serif !important;
  }
  
#scroll-to-top .vantage-icon-arrow-up {
	font-family: 'vantage-icons' !important;
}

body.layout-full {
	background-color: #000000 !important;
}

#masthead .hgroup a {
	color: #425563 !important;
}

#masthead .hgroup a:hover {
	color: #bda99a !important;
}

header#masthead {
background: #ffffff !important;
}

/*--------- menu ---------- */

.menu a {
	text-transform: uppercase;
}

.main-navigation ul {
	margin-left: 120px !important;
}

.main-navigation ul.sub-menu {
	margin-left: 0 !important;
}

/*--------- end menu ---------- */

/*--------- slider ---------- */

#main-slider {
	border-bottom: 1px solid #ffffff;
}

.metaslider .caption-wrap {
	left: 30% !important;
	font-size: 20px;
	font-weight: bold;
}

/*--------- end slider ---------- */

.home #main {
	padding: 0;
}

.widget_headline-widget .decoration {
    margin: 20px !important;
}

.slider-carousel-outer.carousel ul.thumbnails li .thumbnail {
	width: auto;
	margin-bottom: 40px;
}

/*--------- footer ---------- */

#theme-attribution {
	display: none !important;
}

#footer-widgets .widget {
	padding: 0;
}

#footer-widgets .widget#text-3 {
	width: 30%;
}

#footer-widgets .widget#text-4 {
	width: 60%;
}

#footer-widgets .widget#text-5 {
	width: 10%;
}

#main {
	min-height: 410px;
}

/*--------- end footer ---------- */

@media only screen and (max-width: 500px) {
	#masthead img {
		max-width: 100%;
		height: auto;
	}
}